body {
    font-family: Arial, Helvetica, sans-serif;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

nav {
    text-align: center;
}

.nav-elements {
    display: inline-block;
    padding: 15px;
    color: white;
    border: 5px;
    border-color: rgb(69, 179, 199);
    border-style: solid;
}

.left-div {
    float: left;
    width: 29%;
    height: auto;
}

.stella-container {
    text-align: center;
    padding: 10px;
    border: 5px;
    border-color: red;
    border-style: solid;
    margin-top: 20px;
    color: white;
}

.stats-container {
    color: white;
    padding: 10px;
    border: 5px;
    border: 5px;
    border-color: red;
    border-style: solid;
    margin-top: 10px;
}

.right-div {
    float: left;
    width: 71%;
    height: auto;
}

.stella-img {
    width: 200px;
    height: 160px;
}

.black {
    float: left;
    width: 280px;
    height: 200px;
    margin-right: 10px;
}

.container-1 {
    color: white;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: red;
    margin: 20px;
}

.container-2 {
    color: white;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: red;
    text-align: center;
    margin: 20px;
}

.inline {
    width: 200px;
    height: 120px;
}